/* My History Section styles */
.myhistory-section {
    background-image: url('https://gcdnb.pbrd.co/images/YwE8iMImi2Oa.png?o=1');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: calc(100vh - 139px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}

#Recordtable {
    width: 80%;
    max-width: 1200px;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: auto;
    overflow-x: auto;
}

.input-group {
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

#searchInput,
#searchCriteria {
    flex: 1;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: none;
    padding: 12px;
}

#searchInput {
    margin-right: 10px;
}

#searchCriteria {
    border-radius: 8px;
}

#searchCriteria:focus,
#searchInput:focus {
    outline: none;
    border-color: #4d94ff;
}

/* Style for the submit button */
.submit button {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

/* Style for the submit button on hover */
.submit button:hover {
    background-color: #0056b3;
}

.submit {
    text-align: center;
}
.table-container {
    max-height: 330px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table thead th,
.table tbody td {
    padding: 15px;
    text-align: center;
}

.table thead th {
    background-color: #343a40;
    color: #fff;
}

.table tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}

.fixTableHead {
    overflow: hidden;
}

/* Responsive design */
@media (max-width: 768px) {
    #Recordtable {
        width: 100%;
    }

    .input-group {
        flex-direction: column;
        align-items: stretch;
    }

    #searchInput,
    #searchCriteria {
        border-radius: 8px;
        margin-bottom: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        padding: 12px;
    }
}