/* Styles for the My Appointment section */
.myhistory-section {
    background-image: url('https://gcdnb.pbrd.co/images/YwE8iMImi2Oa.png?o=1');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: calc(100vh - 139px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}

/* Style for the form container */
.myhistory-form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 8000px;
    margin: 0 auto;
    text-align: left;
}

/* Style for headings */
h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Icon style for h2 */
h2 i {
    margin-right: 10px;
    font-size: 24px;
}

/* Style for form rows */
.form-row {
    display: flex;
    justify-content: space-between;
}

/* Media query for smaller screens (e.g., tablets) */
@media screen and (max-width: 768px) {
    .myhistory-section {
        flex-direction: column;
        align-items: center;
    }
    
    .myhistory-form {
        width: 90%;
    }
}








/* Style for the back button */
.back-button {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    background-color: #007BFF;
    padding: 7px;
    border-radius: 5px;
}



















/* Style for the table container */
.table-container {
    overflow-x: auto;
    margin-top: 20px;
    text-align: center;
    display: flex; 
    justify-content: center; 
}

/* Style for the table */
.table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    margin-bottom: 20px;
}

/* Style for the table headers */
.table th {
    background-color: #003a70;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 10px; 
    font-size: 18px; 
}

/* Style for alternating row colors */
.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Style for the table rows */
.table td {
    border: 1px solid #ddd;
    padding: 10px; 
    font-size: 18px; 
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    /* Hide table headers on small screens */
    .table th {
        display: table-cell;
        text-align: center;
        padding: 6px; 
        font-size: 14px; 
    }

    /* Display table rows as block for better responsiveness */
    .table tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        background-color: #fff;
        padding: 6px; 
        font-size: 14px; 
    }

    /* Display table cells as block for better responsiveness */
    .table td {
        display: block;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }
}
