/* Popup */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transform: translateY(-100%);
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
    opacity: 0;
}

.popup.bgcolor{
    background-color: rgba(0, 0, 0, 0.5);
}

.popup.active {
    transform: translateY(0);
    opacity: 1;
}

.popup-content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.5);
    text-align: center;
    width: 30%;
}

.popup form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup h2 {
    background-color: #003a70;
    color: white;
    padding: 10px;
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.popup label {
    font-weight: bold;
}

/* .popup input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e2e2e2;
} */

.popup button {
    background-color: #00a4e4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.popup button.login-button {
    background-color: #00a4e4;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}

.popup button:hover {
    background-color: #0077a0;
}

.popup p {
    margin-top: 10px;
    font-size: 16px;
}

.popup-message p {
    margin-top: 45px;
    margin-bottom: 5px;
}

.popup a {
    color: #00a4e4;
    text-decoration: none;
}

.popup-logofull img {
    width: 250px;
    height: 50px;
    margin-top: 55px;
}

.popup-registernumber img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.input-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.input-container img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.link-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.link-container p {
    margin: 0;
}


/* Add a contrasting color for input fields of popup forms */

.box {
        background-color: #e2e2e2;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 5px;
        transition: border-color 0.3s ease-in-out;
    }


/* Wide of input fields inside the popup forms */

#register-popup input[type="text"],
#register-popup input[type="date"],
#register-popup input[type="email"],
#register-popup input[type="tel"],
#register-popup input[type="password"] {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5px;
}


/* Registration scrollable form */

.scrollable-form {
    max-height: 230px;
    overflow-y: auto;
}


/* Text of registration form */

.text-registration-form {
    display: flex;
    align-items: center;
}

.text-registration-form p {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Close Button */

.close {
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 40px;
    color: white;
    background-color: #ff0000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
    z-index: 2;
}

.close:hover {
    background-color: white;
    color: #ff0000;
    animation: close-pulse 1s infinite;
}
















.tar-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 999999;
}

.tar-popup {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    max-width: 800px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    height: 60vh;
}

.tar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.tar-header h2 {
    margin: 0;
    font-size: 24px;
}

.tar-header span {
    font-size: 30px;
    cursor: pointer;
}

.tar-content {
    flex: 1;
    overflow-y: auto;
}

h3 {
    margin-top: 20px;
}

.tar-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

#openBtn, #acceptBtn, #declineBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

#openBtn {
    background: #007BFF;
    color: #fff;
    border: none;
}

#acceptBtn {
    background: #28a745;
    color: #fff;
}

#declineBtn {
    background: #dc3545;
    color: #fff;
}


















@keyframes close-pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
}

/* Media Query for Responsive Popup Form Width on Smaller Screens */

@media screen and (max-width: 1200px) {
    .popup-content {
        width: 40%;
    }
}

@media screen and (max-width: 933px) {
    .popup-content {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    .popup-content {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .popup-content {
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    .popup-content {
        width: 70%;
    }
}

/* Media Query for Responsive Popup Form Full Logo Image on Smaller Screens */

@media screen and (max-width: 375px) {
    .popup-logofull img {
        width: 200px;
        height: 40px;
        margin-top: 40px;
    }
}

/* Media Query for 280 width screens */

@media screen and (max-width: 280px) {
    .popup-logofull img {
        width: 150px;
        height: 30px;
        margin-top: 40px;
    }

    .top-header {
        background-color: #003a70;
        color: #fff;
        padding: 10px 0;
        text-align: center;
        font-size: 10px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .registration-h2 h2 {
        background-color: #003a70;
        color: white;
        padding: 10px;
        font-size: 18px;
        border-radius: 20px 20px 0 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .logo-text {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        font-family: sans-serif;
    }

    .popup-registernumber img {
        width: 15px;
        height: 15px;
        margin-right: 3px;
    }

    .text-registration-form p {
        font-size: 10px;
        margin-bottom: 10px;
    }
}