/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  min-height: 100vh; /* Set minimum height to full viewport height */
  background: #f6f7fb;
}

.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 90%; /* Adjust maximum width */
  width: 100%;
  margin: auto; /* Center container horizontally */
}

.container .steps {
  margin-top: 50px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.steps .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  color: #999;
  font-size: 22px;
  font-weight: 500;
  border-radius: 50%;
  background: #fff;
  border: 4px solid #e0e0e0;
  transition: all 200ms ease;
  transition-delay: 0s;
}

.steps .circle.active {
  transition-delay: 100ms;
  border-color: #157347;
  color: #157347;
}

.steps .progress-bar {
  position: absolute;
  height: 4px;
  width: 100%;
  background: #e0e0e0;
  z-index: -1;
}

.progress-bar .indicator {
  position: absolute;
  height: 100%;
  width: 0%;
  background: #008000;
  transition: all 300ms ease;
}

.container .buttons {
  display: flex;
  gap: 20px;
}

.buttons button {
  padding: 8px 25px;
  background: #157347;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transition: all 200ms linear;
}

.buttons button:active {
  transform: scale(0.97);
}

.buttons button:disabled {
  background: #d4d4d4;
  cursor: not-allowed;
}
.appointment_textfield{
  width: 25%;
}

/* code1 */

/* Media query for devices with a minimum width of 768px (typically desktops or tablets) */
